{{> components/header }}

<form id="register" method="post" action="./setup">

    <div class="panel">
        <div class="inner">

            <h2>Register admin account</h2>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="username">Username:</label><br /><span>Length must be between 3 characters and 20 characters.</span></dt>
                    <dd><input type="text" tabindex="1" name="username" size="25" value="" class="inputbox autowidth" title="Username" /></dd>
                </dl>
                <dl>
                    <dt><label for="password">Password:</label><br /><span>Must be at least 10 characters long.</span></dt>
                    <dd><input type="password" tabindex="2" name="password" size="25" value="" class="inputbox autowidth" title="New password" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt><label for="password_verify">Confirm password:</label></dt>
                    <dd><input type="password"  tabindex="3" name="password_verify" size="25" value="" class="inputbox autowidth" title="Confirm password" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt>
                        <label for="email">Email address:</label><br />
                        <span>Optional</span>
                    </dt>
                    <dd><input type="email" tabindex="4" name="email" size="25" maxlength="100" value="" class="inputbox autowidth" title="Email address" autocomplete="off" /></dd>
                </dl>
                <dl>
                    <dt><label for="email">Show NSFW content:</label></dt>
                    <dd><input type="checkbox" tabindex="5" name="show_nsfw" size="25" maxlength="100" value="" class="inputbox autowidth" title="Show NSFW content" /></dd>
                </dl>

                <hr />

            </fieldset>
        </div>
    </div>
    <div class="panel">
        <div class="inner">

            <h2>Site configuration</h2>

            <fieldset class="fields2">
                <dl>
                    <dt><label for="site_name">Name:</label></dt>
                    <dd><input type="text" tabindex="7" name="site_name" size="25" value="" class="inputbox autowidth" title="Name" /></dd>
                </dl>
                <dl>
                    <dt><label for="site_description">Description:</label><span>Optional</span></dt>
                    <dd><input type="text" tabindex="8" name="site_description" size="25" value="" class="inputbox autowidth" title="Description" /></dd>
                </dl>
            </fieldset>

        </div>
    </div>

    <div class="panel">
        <div class="inner">

            <fieldset class="submit-buttons">
                <input type="submit" tabindex="10" name="submit" id="submit" value="Submit" class="button1 default-submit-action" />
            </fieldset>

        </div>
    </div>
</form>

{{> components/footer }}