{{> components/header }}

    {{> components/user_control_panel_tabs pm_active=1 }}

    <div class="panel bg3">
        <div class="inner">

            <div id="cp-main" class="cp-main ucp-main panel-container" style="width: 100%;">

                <div class="panel" id="pmheader-postingbox">
                    <div class="inner">
                        <label><strong>Recipient:</strong></label></dt>
                        <a href="/view_profile?u={{recipient.id}}" class="username">{{{user_actor_id recipient}}}</a>
                    </div>
                </div>

                {{> components/editor_form editor_action=(concat "/send_private_message?u=" recipient.id) editor_title="Compose message"}}

            </div>
        </div>
    </div>

{{> components/footer }}
