/* truncated latest reply */
a.lastsubject {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 235px;
}

/* sidebar info */
.navbar .inner h1 {
  color: #28313f;
  font-size: 2.5em;
}

/* topics */
.content h1,
.panel h1 {
  color: #115098;
  border-bottom: 1px solid #cccccc;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
}

.postprofile dt a {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

/* truncated signature */
.signature {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.administrator-badge {
  color: #ef5350 !important;
  font-weight: bold;
}

.moderator-badge {
  color: #00a600 !important;
  font-weight: bold;
}

.banned-badge {
  color: #ff0000 !important;
  font-weight: bold;
}
