/* truncated signature */
.signature.truncated {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 5;
	-moz-box-orient: vertical;
	-webkit-box-orient: vertical;
}

.signature.truncated .buttons {
	right: 5px;
	position: absolute;
	bottom: 5px;
}

.signature .buttons .button {
	float: right;
}

.signature .buttons .button.remove {
	display: none;
}

.signature .buttons .button.add {
	display: none;
}

.signature.truncated .buttons .button.remove {
	display: block;
}

.signature:not(.truncated) .buttons .button.add {
	display: block;
}