{{> components/header }}

<h2 class="posting-title"><a href="./viewtopic?t={{post.post_view.post.id}}">{{post.post_view.post.name}}</a></h2>

{{> components/editor_form editor_title="Post a reply"}}

{{> components/footer }}
