{{> header }}

<a id="start_here" class="anchor"></a>
<div id="page-body" class="page-body" role="main">

    {{#unless post}}
    <form id="postform" method="post" action="./do_post">
    {{else}}
    <h2 class="posting-title"><a href="./viewtopic?t={{post.post_view.post.id}}">{{post.post_view.post.name}}</a></h2>

    <form id="postform" method="post" action="./do_comment?t={{post.post_view.post.id}}">
    {{/unless}}

        <div class="panel" id="postingbox">
            <div class="inner">

                <h3>Post a reply</h3>

                <fieldset class="fields1">


                    <dl>
                        <dt><label for="icon">Post icon:</label></dt>
                        <dd>

                            <label for="icon"><input type="radio" name="icon" id="icon" value="0" checked="checked" tabindex="1" /> None</label>
                            <label for="icon-1"><input type="radio" name="icon" id="icon-1" value="1"  tabindex="1" /><img src="./images/icons/misc/fire.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-5"><input type="radio" name="icon" id="icon-5" value="5"  tabindex="1" /><img src="./images/icons/misc/star.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-6"><input type="radio" name="icon" id="icon-6" value="6"  tabindex="1" /><img src="./images/icons/misc/radioactive.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-4"><input type="radio" name="icon" id="icon-4" value="4"  tabindex="1" /><img src="./images/icons/misc/heart.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-7"><input type="radio" name="icon" id="icon-7" value="7"  tabindex="1" /><img src="./images/icons/misc/thinking.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-9"><input type="radio" name="icon" id="icon-9" value="9"  tabindex="1" /><img src="./images/icons/smile/question.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-10"><input type="radio" name="icon" id="icon-10" value="10"  tabindex="1" /><img src="./images/icons/smile/alert.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-8"><input type="radio" name="icon" id="icon-8" value="8"  tabindex="1" /><img src="./images/icons/smile/info.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-2"><input type="radio" name="icon" id="icon-2" value="2"  tabindex="1" /><img src="./images/icons/smile/redface.gif" width="16" height="16" alt="" title="" /></label> <label for="icon-3"><input type="radio" name="icon" id="icon-3" value="3"  tabindex="1" /><img src="./images/icons/smile/mrgreen.gif" width="16" height="16" alt="" title="" /></label>
                        </dd>
                    </dl>




                    {{#unless post}}
                    <dl style="clear: left;">
                        <dt><label for="subject">Subject:</label></dt>
                        <dd>
                            <input type="text" name="subject" id="subject" size="45" maxlength="124" tabindex="2" class="inputbox autowidth" />
                        </dd>
                    </dl>

                    <dl style="clear: left;">
                        <dt><label for="subject">Community:</label></dt>
                        <dd>
                            <input type="text" name="community_name" id="community_name" size="45" maxlength="124" tabindex="2" placeholder="startrek@lemmy.ml" class="inputbox autowidth" />
                        </dd>
                    </dl>
                    {{/unless}}

                    <script>
	var form_name = 'postform';
	var text_name = 'message';
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]');
	var imageTag = false;

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = 'Hide\u0020font\u0020colour';
		}
		else
		{
			document.getElementById('bbpalette').value = 'Font\u0020colour';
		}
	}
</script>

                    <div id="colour_palette" style="display: none;">
                        <dl style="clear: left;">
                            <dt><label>Font colour:</label></dt>
                            <dd id="color_palette_placeholder" class="color_palette_placeholder" data-color-palette="h" data-height="12" data-width="15" data-bbcode="true"></dd>
                        </dl>
                    </div>

                    <div id="format-buttons" class="format-buttons">
                        <button type="button" class="button button-icon-only bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="Bold text: [b]text[/b]">
                            <i class="icon fa-bold fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="Italic text: [i]text[/i]">
                            <i class="icon fa-italic fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-u" accesskey="u" name="addbbcode4" value=" u " onclick="bbstyle(4)" title="Underline text: [u]text[/u]">
                            <i class="icon fa-underline fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="Quote text: [quote]text[/quote]">
                            <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="Code display: [code]code[/code]">
                            <i class="icon fa-code fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(10)" title="List: [list][*]text[/list]">
                            <i class="icon fa-list fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-list-" accesskey="o" name="addbbcode12" value="List=" onclick="bbstyle(12)" title="Ordered list: e.g. [list=1][*]First point[/list] or [list=a][*]Point a[/list]">
                            <i class="icon fa-list-ol fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-asterisk" accesskey="y" name="addlistitem" value="[*]" onclick="bbstyle(-1)" title="List item: [*]text">
                            <i class="icon fa-asterisk fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-img" accesskey="p" name="addbbcode14" value="Img" onclick="bbstyle(14)" title="Insert image: [img]http://image_url[/img]">
                            <i class="icon fa-image fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-url" accesskey="w" name="addbbcode16" value="URL" onclick="bbstyle(16)" title="Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]">
                            <i class="icon fa-link fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-flash" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" title="Flash: [flash=width,height]http://url[/flash]">
                            <i class="icon fa-flash fa-fw" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="button button-icon-only bbcode-color" name="bbpalette" id="bbpalette" value="Font colour" onclick="change_palette();" title="Font colour: [color=red]text[/color] or [color=#FF0000]text[/color]">
                            <i class="icon fa-tint fa-fw" aria-hidden="true"></i>
                        </button>
                        <select name="addbbcode20" class="bbcode-size" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="Font size: [size=85]small text[/size]">
                            <option value="50">Tiny</option>
                            <option value="85">Small</option>
                            <option value="100" selected="selected">Normal</option>
                            <option value="150">Large</option>
                            <option value="200">Huge</option>
                        </select>


                    </div>

                    <div id="smiley-box" class="smiley-box">
                        <strong>Smilies</strong><br />
                        <a href="#" onclick="insert_text(':D', true); return false;"><img src="./images/smilies/icon_e_biggrin.gif" width="15" height="17" alt=":D" title="Very Happy" /></a>
                        <a href="#" onclick="insert_text(':)', true); return false;"><img src="./images/smilies/icon_e_smile.gif" width="15" height="17" alt=":)" title="Smile" /></a>
                        <a href="#" onclick="insert_text(';)', true); return false;"><img src="./images/smilies/icon_e_wink.gif" width="15" height="17" alt=";)" title="Wink" /></a>
                        <a href="#" onclick="insert_text(':(', true); return false;"><img src="./images/smilies/icon_e_sad.gif" width="15" height="17" alt=":(" title="Sad" /></a>
                        <a href="#" onclick="insert_text(':o', true); return false;"><img src="./images/smilies/icon_e_surprised.gif" width="15" height="17" alt=":o" title="Surprised" /></a>
                        <a href="#" onclick="insert_text(':shock:', true); return false;"><img src="./images/smilies/icon_eek.gif" width="15" height="17" alt=":shock:" title="Shocked" /></a>
                        <a href="#" onclick="insert_text(':?', true); return false;"><img src="./images/smilies/icon_e_confused.gif" width="15" height="17" alt=":?" title="Confused" /></a>
                        <a href="#" onclick="insert_text('8-)', true); return false;"><img src="./images/smilies/icon_cool.gif" width="15" height="17" alt="8-)" title="Cool" /></a>
                        <a href="#" onclick="insert_text(':lol:', true); return false;"><img src="./images/smilies/icon_lol.gif" width="15" height="17" alt=":lol:" title="Laughing" /></a>
                        <a href="#" onclick="insert_text(':x', true); return false;"><img src="./images/smilies/icon_mad.gif" width="15" height="17" alt=":x" title="Mad" /></a>
                        <a href="#" onclick="insert_text(':P', true); return false;"><img src="./images/smilies/icon_razz.gif" width="15" height="17" alt=":P" title="Razz" /></a>
                        <a href="#" onclick="insert_text(':oops:', true); return false;"><img src="./images/smilies/icon_redface.gif" width="15" height="17" alt=":oops:" title="Embarrassed" /></a>
                        <a href="#" onclick="insert_text(':cry:', true); return false;"><img src="./images/smilies/icon_cry.gif" width="15" height="17" alt=":cry:" title="Crying or Very Sad" /></a>
                        <a href="#" onclick="insert_text(':evil:', true); return false;"><img src="./images/smilies/icon_evil.gif" width="15" height="17" alt=":evil:" title="Evil or Very Mad" /></a>
                        <a href="#" onclick="insert_text(':twisted:', true); return false;"><img src="./images/smilies/icon_twisted.gif" width="15" height="17" alt=":twisted:" title="Twisted Evil" /></a>
                        <a href="#" onclick="insert_text(':roll:', true); return false;"><img src="./images/smilies/icon_rolleyes.gif" width="15" height="17" alt=":roll:" title="Rolling Eyes" /></a>
                        <a href="#" onclick="insert_text(':!:', true); return false;"><img src="./images/smilies/icon_exclaim.gif" width="15" height="17" alt=":!:" title="Exclamation" /></a>
                        <a href="#" onclick="insert_text(':?:', true); return false;"><img src="./images/smilies/icon_question.gif" width="15" height="17" alt=":?:" title="Question" /></a>
                        <a href="#" onclick="insert_text(':idea:', true); return false;"><img src="./images/smilies/icon_idea.gif" width="15" height="17" alt=":idea:" title="Idea" /></a>
                        <a href="#" onclick="insert_text(':arrow:', true); return false;"><img src="./images/smilies/icon_arrow.gif" width="15" height="17" alt=":arrow:" title="Arrow" /></a>
                        <a href="#" onclick="insert_text(':|', true); return false;"><img src="./images/smilies/icon_neutral.gif" width="15" height="17" alt=":|" title="Neutral" /></a>
                        <a href="#" onclick="insert_text(':mrgreen:', true); return false;"><img src="./images/smilies/icon_mrgreen.gif" width="15" height="17" alt=":mrgreen:" title="Mr. Green" /></a>
                        <a href="#" onclick="insert_text(':geek:', true); return false;"><img src="./images/smilies/icon_e_geek.gif" width="17" height="17" alt=":geek:" title="Geek" /></a>
                        <a href="#" onclick="insert_text(':ugeek:', true); return false;"><img src="./images/smilies/icon_e_ugeek.gif" width="17" height="18" alt=":ugeek:" title="Uber Geek" /></a>
                        <div class="bbcode-status">
                            <hr />			<a href="/33x/app.php/help/bbcode">BBCode</a> is <em>ON</em><br />
                            [img] is <em>ON</em><br />
                            [flash] is <em>ON</em><br />
                            [url] is <em>ON</em><br />
                            Smilies are <em>ON</em>
                        </div>
                        <hr />						<strong><a href="#review">Topic review</a></strong>			</div>


                    <div id="message-box" class="message-box">
                        <textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox"></textarea>
                    </div>

                </fieldset>


            </div>
        </div>

        <div class="panel bg2">
            <div class="inner">
                <fieldset class="submit-buttons">

                    <input type="hidden" name="topic_cur_post_id" value="3" />
                    <input type="submit" accesskey="k" tabindex="7" name="save" value="Save draft" class="button2" />&nbsp; 			<input type="submit" tabindex="5" name="preview" value="Preview" class="button1" onclick="document.getElementById('postform').action += '#preview';" />&nbsp;
                    <input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" class="button1 default-submit-action" />&nbsp;

                </fieldset>

            </div>
        </div>

        <div id="tabs" class="tabs sub-panels" data-show-panel="options-panel" role="tablist">
            <ul>
                <li id="options-panel-tab" class="tab activetab"><a href="#tabs" data-subpanel="options-panel" role="tab" aria-controls="options-panel"><span>Options</span></a></li>
            </ul>
        </div>

        <div class="panel bg3" id="options-panel">
            <div class="inner">

                <fieldset class="fields1">
                    <div><label for="disable_bbcode"><input type="checkbox" name="disable_bbcode" id="disable_bbcode" /> Disable BBCode</label></div>
                    <div><label for="disable_smilies"><input type="checkbox" name="disable_smilies" id="disable_smilies" /> Disable smilies</label></div>
                    <div><label for="disable_magic_url"><input type="checkbox" name="disable_magic_url" id="disable_magic_url" /> Do not automatically parse URLs</label></div>
                    <div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig" checked="checked" /> Attach a signature (signatures can be altered via the UCP)</label></div>
                    <div><label for="lock_topic"><input type="checkbox" name="lock_topic" id="lock_topic" /> Lock topic</label></div>





                </fieldset>

                <input type="hidden" name="show_panel" value="options-panel" />
                <input type="hidden" name="creation_time" value="1657102545" />
                <input type="hidden" name="form_token" value="f379e365f3f4f7d1f1f0decfccda4683d724074d" />

            </div>
        </div>





        <h3 id="review" class="review">
            <span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == 'Expand\u0020view'){rev_text.data = 'Collapse\u0020view'; } else if (rev_text.data == 'Collapse\u0020view'){rev_text.data = 'Expand\u0020view'};">Expand view</a></span>
            Topic review: test attach
        </h3>

        <div id="topicreview" class="topicreview">
            <script>
	bbcodeEnabled = 1;
</script>

            <div class="post bg2">
                <div class="inner">

                    <div class="postbody" id="pr3">
                        <h3><a href="./viewtopic.php?p=3#p3">test attach</a></h3>

                        <ul class="post-buttons">
                            <li>
                                <a href="./mcp.php?i=main&amp;mode=post_details&amp;p=3&amp;sid=d81b1861ad58a66dfd1b465fc28332e1" title="Post details" class="button button-icon-only">
                                    <i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">Post details</span>
                                </a>
                            <li>
                            <li>
                                <a href="#postingbox" onclick="addquote(3, 'administrator', 'wrote', {post_id:3,time:1656682266,user_id:2});" title="Quote administrator" class="button button-icon-only">
                                    <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">Quote administrator</span>
                                </a>
                            </li>
                        </ul>

                        <p class="author">
                            <a href="./viewtopic.php?p=3#p3" title="">
                                <i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only"></span>
                            </a>
                            by <strong><a href="./memberlist.php?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">administrator</a></strong> &raquo; Fri Jul 01, 2022 1:31 pm
                        </p>

                        <div class="content">hello world</div>



                        <div id="message_3" style="display: none;">[img]https://lemmy.ml/pictrs/image/ea299282-3125-4a6d-ab6b-3978344982bb.png[/img]</div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <p>
            <a href="#postingbox" class="top">
                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span>Top</span>
            </a>
        </p>

    </form>

</div>

{{> footer }}
