</div>

<div id="page-footer" class="page-footer" role="contentinfo">
    <div class="navbar" role="navigation">
        <div class="inner">
            <ul id="nav-footer" class="nav-footer linklist" role="menubar">
                <li class="breadcrumbs">
                                <span class="crumb">
                                    <a href="./index.php" data-navbar-reference="index"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span>Board index</span></a>
                                </span>
                </li>

                <li class="rightside">All times are <span title="UTC">UTC</span></li>
                <li class="rightside">
                    <a href="./ucp.php?mode=delete_cookies" data-ajax="true" data-refresh="true" role="menuitem"> <i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>Delete cookies</span> </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p class="footer-row">
            <span class="footer-copyright">Powered by <a href="https://github.com/LemmyNet/lemmyBB">lemmyBB</a>&reg; Forum Software, Design by <a href="https://www.phpbb.com/">phpBB</a></span>
        </p>
        <p class="footer-row" role="menu">
            <a class="footer-link" href="./ucp.php?mode=privacy" title="Privacy" role="menuitem">
                <span class="footer-link-text">Privacy</span>
            </a>
            |
            <a class="footer-link" href="./ucp.php?mode=terms" title="Terms" role="menuitem">
                <span class="footer-link-text">Terms</span>
            </a>
        </p>
    </div>

    <div
            id="darkenwrapper"
            class="darkenwrapper"
            data-ajax-error-title="AJAX error"
            data-ajax-error-text="Something went wrong when processing your request."
            data-ajax-error-text-abort="User aborted request."
            data-ajax-error-text-timeout="Your request timed out; please try again."
            data-ajax-error-text-parsererror="Something went wrong with the request and the server returned an invalid reply."
    >
        <div id="darken" class="darken">&nbsp;</div>
    </div>

    <div id="phpbb_alert" class="phpbb_alert" data-l-err="Error" data-l-timeout-processing-req="Request timed out.">
        <a href="#" class="alert_close">
            <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
        </a>
        <h3 class="alert_title">&nbsp;</h3>
        <p class="alert_text"></p>
    </div>
    <div id="phpbb_confirm" class="phpbb_alert">
        <a href="#" class="alert_close">
            <i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
        </a>
        <div class="alert_text"></div>
    </div>
</div>
</div>

<div>
    <a id="bottom" class="anchor" accesskey="z"></a>
</div>

<script src="./assets/javascript/jquery-3.6.0.min.js?assets_version=15"></script>
<script src="./assets/javascript/core.js?assets_version=15"></script>
<script src="./assets/javascript/forum_fn.js?assets_version=15"></script>
<script src="./assets/javascript/ajax.js?assets_version=15"></script>
<script src="./assets/javascript/editor.js?assets_version=15"></script>

</body>
</html>
