{{> components/header }}

<h2 class="posting-title"><a href="/view_forum?f={{community.community_view.community.id}}">{{community.community_view.community.title}}</a></h2>

{{> components/editor_form editor_title=(i18n site_data "post_topic") subject_field=true}}

{{> components/footer }}
