
    <script>
    var form_name = 'postform';
    var text_name = 'message';
    var load_draft = false;
    var upload = false;

    // Define the bbCode tags
    var bbcode = new Array();
    var bbtags = new Array('**','**','*','*','>','','`','`','- ','','![](',')','[](',')');
    var imageTag = false;

    function change_palette()
    {
    phpbb.toggleDisplay('colour_palette');
    e = document.getElementById('colour_palette');

    if (e.style.display == 'block')
    {
        document.getElementById('bbpalette').value = 'Hide\u0020font\u0020colour';
    }
    else
    {
        document.getElementById('bbpalette').value = 'Font\u0020colour';
    }
    }
    </script>

    <div id="format-buttons" class="format-buttons">
        <button type="button" class="button button-icon-only bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="Bold text: **text**">
            <i class="icon fa-bold fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="Italic text: *text*">
            <i class="icon fa-italic fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(4)" title="Quote text: [quote]text[/quote]">
            <i class="icon fa-quote-left fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(6)" title="Code display: [code]code[/code]">
            <i class="icon fa-code fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(8)" title="List: [list][*]text[/list]">
            <i class="icon fa-list fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-img" accesskey="p" name="addbbcode12" value="Img" onclick="bbstyle(10)" title="Insert image: [img]http://image_url[/img]">
            <i class="icon fa-image fa-fw" aria-hidden="true"></i>
        </button>
        <button type="button" class="button button-icon-only bbcode-url" accesskey="w" name="addbbcode14" value="URL" onclick="bbstyle(12)" title="Insert URL: [url]http://url[/url] or [url=http://url]URL text[/url]">
            <i class="icon fa-link fa-fw" aria-hidden="true"></i>
        </button>
    </div>

    <div id="smiley-box" class="smiley-box">
        <strong>{{{i18n site_data "smilies"}}}</strong><br />
        <a href="#" onclick="insert_text(':D', true); return false;"><img src="./assets/images/smilies/icon_e_biggrin.gif" width="15" height="17" alt=":D" title="Very Happy" /></a>
        <a href="#" onclick="insert_text(':)', true); return false;"><img src="./assets/images/smilies/icon_e_smile.gif" width="15" height="17" alt=":)" title="Smile" /></a>
        <a href="#" onclick="insert_text(';)', true); return false;"><img src="./assets/images/smilies/icon_e_wink.gif" width="15" height="17" alt=";)" title="Wink" /></a>
        <a href="#" onclick="insert_text(':(', true); return false;"><img src="./assets/images/smilies/icon_e_sad.gif" width="15" height="17" alt=":(" title="Sad" /></a>
        <a href="#" onclick="insert_text(':o', true); return false;"><img src="./assets/images/smilies/icon_e_surprised.gif" width="15" height="17" alt=":o" title="Surprised" /></a>
        <a href="#" onclick="insert_text(':shock:', true); return false;"><img src="./assets/images/smilies/icon_eek.gif" width="15" height="17" alt=":shock:" title="Shocked" /></a>
        <a href="#" onclick="insert_text(':?', true); return false;"><img src="./assets/images/smilies/icon_e_confused.gif" width="15" height="17" alt=":?" title="Confused" /></a>
        <a href="#" onclick="insert_text('8-)', true); return false;"><img src="./assets/images/smilies/icon_cool.gif" width="15" height="17" alt="8-)" title="Cool" /></a>
        <a href="#" onclick="insert_text(':lol:', true); return false;"><img src="./assets/images/smilies/icon_lol.gif" width="15" height="17" alt=":lol:" title="Laughing" /></a>
        <a href="#" onclick="insert_text(':x', true); return false;"><img src="./assets/images/smilies/icon_mad.gif" width="15" height="17" alt=":x" title="Mad" /></a>
        <a href="#" onclick="insert_text(':P', true); return false;"><img src="./assets/images/smilies/icon_razz.gif" width="15" height="17" alt=":P" title="Razz" /></a>
        <a href="#" onclick="insert_text(':oops:', true); return false;"><img src="./assets/images/smilies/icon_redface.gif" width="15" height="17" alt=":oops:" title="Embarrassed" /></a>
        <a href="#" onclick="insert_text(':cry:', true); return false;"><img src="./assets/images/smilies/icon_cry.gif" width="15" height="17" alt=":cry:" title="Crying or Very Sad" /></a>
        <a href="#" onclick="insert_text(':evil:', true); return false;"><img src="./assets/images/smilies/icon_evil.gif" width="15" height="17" alt=":evil:" title="Evil or Very Mad" /></a>
        <a href="#" onclick="insert_text(':twisted:', true); return false;"><img src="./assets/images/smilies/icon_twisted.gif" width="15" height="17" alt=":twisted:" title="Twisted Evil" /></a>
        <a href="#" onclick="insert_text(':roll:', true); return false;"><img src="./assets/images/smilies/icon_rolleyes.gif" width="15" height="17" alt=":roll:" title="Rolling Eyes" /></a>
        <a href="#" onclick="insert_text(':!:', true); return false;"><img src="./assets/images/smilies/icon_exclaim.gif" width="15" height="17" alt=":!:" title="Exclamation" /></a>
        <a href="#" onclick="insert_text(':?:', true); return false;"><img src="./assets/images/smilies/icon_question.gif" width="15" height="17" alt=":?:" title="Question" /></a>
        <a href="#" onclick="insert_text(':idea:', true); return false;"><img src="./assets/images/smilies/icon_idea.gif" width="15" height="17" alt=":idea:" title="Idea" /></a>
        <a href="#" onclick="insert_text(':arrow:', true); return false;"><img src="./assets/images/smilies/icon_arrow.gif" width="15" height="17" alt=":arrow:" title="Arrow" /></a>
        <a href="#" onclick="insert_text(':|', true); return false;"><img src="./assets/images/smilies/icon_neutral.gif" width="15" height="17" alt=":|" title="Neutral" /></a>
        <a href="#" onclick="insert_text(':mrgreen:', true); return false;"><img src="./assets/images/smilies/icon_mrgreen.gif" width="15" height="17" alt=":mrgreen:" title="Mr. Green" /></a>
        <a href="#" onclick="insert_text(':geek:', true); return false;"><img src="./assets/images/smilies/icon_e_geek.gif" width="17" height="17" alt=":geek:" title="Geek" /></a>
        <a href="#" onclick="insert_text(':ugeek:', true); return false;"><img src="./assets/images/smilies/icon_e_ugeek.gif" width="17" height="18" alt=":ugeek:" title="Uber Geek" /></a>
        <hr />
        <strong><a href="#review">{{{i18n site_data "topic_review"}}}</a></strong>
    </div>

    <div id="message-box" class="message-box">
    <textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{{#if message}}{{{raw message}}}{{/if}}</textarea>
    </div>
