</div>

<div id="page-footer" class="page-footer" role="contentinfo">
    <div class="navbar" role="navigation">
        <div class="inner">
            <ul id="nav-footer" class="nav-footer linklist" role="menubar">
                <li class="breadcrumbs">
                                <span class="crumb">
                                    <a href="/" data-navbar-reference="index"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "board_index"}}}</span></a>
                                </span>
                </li>

                <li class="rightside">
                    <a href="/logout" data-ajax="true" data-refresh="true" role="menuitem"> <i class="icon fa-trash fa-fw" aria-hidden="true"></i><span>{{{i18n site_data "delete_cookies"}}}</span> </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        <p class="footer-row">
            <span class="footer-copyright">{{{i18n site_data "powered_by" site_data.lemmybb_version}}}</a></span>
        </p>
        <p class="footer-row" role="menu">
            <a class="footer-link" href="/legal" role="menuitem">
                <span class="footer-link-text">{{{i18n site_data "legal"}}}</span>
            </a>
        </p>
    </div>

<div>
    <a id="bottom" class="anchor" accesskey="z"></a>
</div>

<script src="./assets/javascript/jquery-3.6.0.min.js?assets_version=15"></script>
<script src="./assets/javascript/core.js?assets_version=15"></script>
<script src="./assets/javascript/forum_fn.js?assets_version=15"></script>
<script src="./assets/javascript/ajax.js?assets_version=15"></script>
<script src="./assets/javascript/editor.js?assets_version=15"></script>

</body>
</html>
