<h2 class="ucp-title">User Control Panel</h2>

<div id="tabs" class="tabs">
    <ul>
        <li class="tab{{#if profile_active}} activetab{{/if}}"><a href="edit_profile">Profile</a></li>
        <li class="tab{{#if pm_active}} activetab{{/if}}"><a href="/private_messages">Private messages</a></li>
    </ul>
</div>